.main_cont{
    height: 100vh;
    width: 100vw;
    background-color: rgb(190, 229, 229);
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

aside {
    height: 100vh;
    width: 400px;
   
}
